<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SkillBarter">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SkillBarter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />

        <!-- Auth -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Navigation -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Secondary Detail & Action Screens -->
        <activity
            android:name=".ui.skills.AddSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.requests.SendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.exchange.ExchangeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.review.RateReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.marketplace.MarketplaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.helprequests.HelpRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.availability.AvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.credits.CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.progress.ProgressActivity"
            android:exported="false" />

    </application>

</manifest>
